.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template:
      [header-left] "logo head" 5vh[header-right]
      [main-left] "nav  main" auto [main-right]
      [footer-left] "nav  foot" 10vh [footer-right]
      / 15rem auto;
  }
  .box-logo {
    background-color: #343A40;
    color: rgb(199, 199, 199);
    grid-area: logo;
    display: flex;
  }
  .navbar {
    grid-area: head;
    border: 1px transparent;
    box-shadow: 0px 1px 1px 0px rgba(223, 223, 223, 0.75);
  }
  
  .sidebar {
    background-color: #343A40;
    color: rgb(199, 199, 199);
    grid-area: nav;
    border: 1px transparent;
    box-shadow: 5px 3px 3px 2px rgba(223, 223, 223, 0.75);
  }
  
  .content {
    grid-area: main;
    display: flex;
  }
  
  .footer {
    grid-area: foot;
    display: flex;
  }